.prevDiv1 {

	display: flex;
	flex-direction: column;
	background-color: #ecf0f1;
	height: 100vh;
}

.prevContent {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin-top: 70px;
}

.prevDiv2 {
	padding: 30px 30px;
	background: #FFF;
	border-radius: 25px;
	box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);

	text-align: center;
}

.prevH {
	font-family: Montserrat-Regular;
	font-size: 32px;
	;
	line-height: 1.2;
	text-align: center;

	width: 100%;
	display: block;
	margin: 10px;
}

.prevInput {

	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 50px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}

