.prevDiv1 {

	display: flex;
	flex-direction: column;
	background-color: #ecf0f1;
	height: 100%;
}

.prevContent {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin-top: 70px;
}

.prevDiv2 {
	padding: 20px 20px;
	background: #FFF;
	border-radius: 25px;
	box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);

	text-align: center;
}

.prevH {
	font-family: Montserrat-Regular;
	font-size: 32px;
	;
	line-height: 1.2;
	text-align: center;

	width: 100%;
	display: block;
	margin: 10px 0px;
}

.prevInput {

	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 35px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}
.prevButton {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #34495e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	/* z-index: 1; */
}
.prevButton:hover {
	background: #fff;
	color: #34495e;
	border: 1.5px solid #34495e;
}

.prevInput:focus {
    /* background-color: aliceblue; */
    /* border-radius: 5px;
    border: 1px solid #34495e; */
    box-shadow: 0 0 5px rgb(58, 101, 194);
    padding: 3px 15px 3px 15px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(58, 101, 194, 1);
}