.editMain {
	display: flex;
	flex-direction: column;
	background-color: #ecf0f1;
	height: 100vh;
}

.editContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 30px;
}

.editInput {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 50px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}

.editInput:focus {
	/* background-color: aliceblue; */
	/* border-radius: 5px;
    border: 1px solid #34495e; */
	box-shadow: 0 0 5px rgb(58, 101, 194);
	padding: 3px 15px 3px 15px;
	/* margin: 5px 1px 3px 0px; */
	border: 1px solid rgba(58, 101, 194, 1);
}

.editButton {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #34495e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}

.editButton:hover {
	background: #fff;
	color: #34495e;
	border: 1.5px solid #34495e;
}

.editResults {
	display: flex;
	flex-direction: column;
}

.editResult {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-evenly;
	/* align-content: center; */
	align-items: center;
	padding: 0px 20px;
	width: 90%;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);
	margin: 20px 0;
	text-align: center;
}
.editButton1{
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #40ad3d;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}
.editButton1:hover {
	background: #fff;
	color: #40ad3d;
	border: 1.5px solid #40ad3d;
}
.editButton2{
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #c92c2c;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}
.editButton2:hover {
	background: #fff;
	color: #c92c2c;
	border: 1.5px solid #c92c2c;
}