.editMain {
	display: flex;
	flex-direction: column;
	background-color: #ecf0f1;
	height: 100vh;
}

.editContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 30px;
	width: 100%;
}

.editInput {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 50px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}

.editInput:focus {
	/* background-color: aliceblue; */
	/* border-radius: 5px;
    border: 1px solid #34495e; */
	box-shadow: 0 0 5px rgb(58, 101, 194);
	padding: 3px 15px 3px 15px;
	/* margin: 5px 1px 3px 0px; */
	border: 1px solid rgba(58, 101, 194, 1);
}

.editButton {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #34495e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}

.editButton:hover {
	background: #fff;
	color: #34495e;
	border: 1.5px solid #34495e;
}

.editResults {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.editResult {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-evenly;
	/* align-content: center; */
	align-items: center;
	padding: 0px 20px;
	width: 90%;
	height: 70px;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);
	margin: 20px 0;
	text-align: center;
}
.editButton1{
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 150px;
	height: 50px;
	border-radius: 5px;
	background: #40ad3d;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}
.editButton1:hover {
	background: #fff;
	color: #40ad3d;
	border: 1.5px solid #40ad3d;
}
.editButton2{
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 150px;
	height: 50px;
	border-radius: 5px;
	background: #c92c2c;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}
.editButton2:hover {
	background: #fff;
	color: #c92c2c;
	border: 1.5px solid #c92c2c;
}
.editSelect{
    font-family: Montserrat-Regular;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 30px;
}
.editButton3 {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: 100%;
	height: 30px;
	border-radius: 5px;
	background: #34495e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}

.editButton3:hover {
	background: #fff;
	color: #34495e;
	border: 1.5px solid #34495e;
}
.editInput1 {
    font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}
.editInput1:focus {
    /* background-color: aliceblue; */
    /* border-radius: 5px;
    border: 1px solid #34495e; */
    box-shadow: 0 0 5px rgb(58, 101, 194);
    padding: 3px 15px 3px 15px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(58, 101, 194, 1);
}
.editOverlay{
	background: transparent;
	background-color: rgba(0,0,0,0.4);
}
.editModal{
	height: 85%;
	/* width: 50%; */
	padding: 50px;
	align-content: center;
}
.editClose{
}
.editInput1 {
    font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}
.editInput1:focus {
    /* background-color: aliceblue; */
    /* border-radius: 5px;
    border: 1px solid #34495e; */
    box-shadow: 0 0 5px rgb(58, 101, 194);
    padding: 3px 15px 3px 15px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(58, 101, 194, 1);
}
.editInput2 {
    font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 80%;
	background: transparent;

	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}
.editInput2:focus {
    /* background-color: aliceblue; */
    /* border-radius: 5px;
    border: 1px solid #34495e; */
    box-shadow: 0 0 5px rgb(58, 101, 194);
    padding: 3px 15px 3px 15px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(58, 101, 194, 1);
}
.editForm {
	padding-left: 50px;
	/* align-content: center; */
	justify-items: center;
	align-items: center;
}
.editButton4 {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #FFF;

	width: auto;
	height: 30px;
	border-radius: 5px;
	background: #34495e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	position: relative;
	z-index: 1;
}

.editButton4:hover {
	background: #fff;
	color: #34495e;
	border: 1.5px solid #34495e;
}
