.adminDivMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-color: #ecf0f1;
    /* height: 100%; */
}

.adminHeader {
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    height: 50px;
}

.adminHeaderHead {
    margin-left: 10px;
    color: #FFF;
    font-size: 23px
}

.adminHeaderSpan {
    margin: 10px;
    align-items: center;
    color: #FFF;
}

.adminContent {
    

    /* background-size: cover; */
}

.adminAllot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 0 0 25px 25px;
    box-shadow: 5px 11px 100px -10px rgba(0, 0, 0, 0.45);
}

.adminGen {
    display: flex;
    align-items: center;
}

.adminReq {
    display: flex;
    align-items: center;
}

.adminReqButton {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    margin-top: 15px;
    margin-right: 30px;

    position: relative;
    z-index: 1;
}


.adminHead {
    padding: 0px 20px 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer {
    background-color: #34495e;
    width: 100%;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: auto;
}

.footermob{
    display: none;
    background-color: #34495e;
    width: 100%;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: auto;
}

.footerext {
    color: #fff;
    padding-top: 7px;
}

.adminFn {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    /* flex-direction: column"; */
    width: 85%;
}

.adminAdmin {
    padding: 30px 30px;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);
}

.adminUser {
    padding: 30px 30px;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);
}


.adminStation {
    padding: 30px 45px;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 8px 6px 62px -9px rgba(0, 0, 0, 0.45);
}

.adminButton {
    font-family: "Montserrat-Bold";
    font-size: 15px;
    line-height: 1.5;
    color: #34495e;
    border: 1.5px solid #34495e;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.adminButton:hover {
    background-color: #34495e;
    color: #fff;
}

.admingenbutton {
    font-family: "Montserrat-Bold";
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 15px;
    transition: all 0.4s;
    margin-left: 30px;
    position: relative;
    z-index: 1;
    border: 1.5px solid #34495e;
}

.admingenbutton:hover {
    background: #fff;
    color: #34495e;
}

.adminLogout {
    font-family: "Montserrat-Bold";
    font-size: 15px;
    line-height: 1.5;
    color: #e74c3c;
    margin-top: 0;
    margin-bottom: 0;
    /* border-bottom: 1px solid #e74c3c; */
    height: 50px;
    background: #fff;
    padding: 0 25px;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    top: 0;
}

.adminLogout:hover {
    background: #e74c3c;
    color: #fff;
}
.adminInput {
    font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;

	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 53px;
	margin-bottom: 5px;
}
.adminInput:focus {
    /* background-color: aliceblue; */
    /* border-radius: 5px;
    border: 1px solid #34495e; */
    box-shadow: 0 0 5px rgb(58, 101, 194);
    padding: 3px 15px 3px 15px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(58, 101, 194, 1);
}
.adminSelect{
    font-family: Montserrat-Regular;
	font-size: 15px;
	line-height: 1.2;
	color: #34495e;
	display: block;
	width: 100%;
	background: transparent;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #34495e;
	padding: 0 30px 0px 30px;
}
@media (max-width : 576px) {
    .adminDivMain{
        width : 100vw !important;
        /* height: 731px; */
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .adminHeader {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw !important;
        height : 125px;

    }
    .adminContent {
        height: auto;
    }
    .adminRight{
        display: flex;
        flex-direction: column;
    }
    .adminLogout{
        /* padding: 0px; */
        margin-top: -10px;
    }
    .adminAllot {
        display: flex;
        flex-direction: column;
    }
    .adminFn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .adminAllot{
        align-items: center;
        /* padding-right: -10px;  */
    }
    .adminAdmin {
        margin-bottom: 30px;
    }
    .adminUser {
        margin : 30px 0px;
    }
    .adminStation {
        margin-top: 30px;
    }
    .admingenbutton {
        margin-left: 0px;
    }
    .footer {
        display: none;
    }
    .footermob{
        display: block;
    }
}
